@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap');

@theme {
  --color-primary: #415167;
  --color-accent-1: #c7a17a;
  --color-accent-2: #f9f5e8;
  --color-dark-gray: #151d28;
  --color-pinky-gray: #edf0f5;
  --color-text-light: #f9fbff;
  --color-shadow-light: #151d2816;
  --color-red-custom: #db6c6c;
  
  --font-nunito: 'Nunito', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-nunito);
  background-color: var(--color-text-light);
  color: var(--color-primary);
  margin: 0;
}
